<form>
  <p>
    <label>First</label>
    {{input type="text"}}
  </p>

  <p>
    <label>Last</label>
    {{input type="text"}}
  </p>

  <p>
    <label>Address</label>
    {{input type="text"}}
  </p>

  <p>
    <label>Phone</label>
    {{input type="text"}}
  </p>

  <button>Submit</button>

</form>
